*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222222;
}
h1{
    color: #333333;
    font-size: 4rem;
    position: relative;
}
h1::after{
    content: '欢迎来到我的网站';
    color: transparent;
    background-image: url(https://images.unsplash.com/photo-1579547621869-0ddb5f237392?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NjF8fGxpZ2h0aW5nfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60);
    background-size: 150%;
    background-position: center center;
    -webkit-background-clip: text;
    background-clip: text;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: ellipse(60px 60px at 0% 50%);
    animation: dh 5s infinite;
}
a{
    text-decoration: none;
    float: right;
    font-size: 15px;
    margin-top: 20px;
    color: aliceblue;
}

@keyframes dh{
    0%{
        clip-path: ellipse(60px 60px at 0% 50%);
    }
    50%{
        clip-path: ellipse(60px 60px at 100% 50%);
    }
    100%{
        clip-path: ellipse(60px 60px at 0% 50%);
    }
}